.Name{
  font-weight: 300;
  color: blue;
}
.school{
  color: crimson;
}
.Total{
  color:darkmagenta
}
.formatstyle{
  text-align: center;
  font-size:large ;
}
.score{
  color: forestgreen;
}